.App {
	text-align: center;
}
.svg-container {
	width: 350px;
	height: 600px;
	margin: 60px auto;
	border-radius: 40px;
	overflow: hidden;
	-webkit-box-shadow: 0px 10px 26px -17px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 10px 26px -17px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 10px 26px -17px rgba(0, 0, 0, 0.75);
}

#buldings {
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

/* stars */
.stars-4 {
	opacity: 0.8;
	fill: #ffffff;
}
.stars-5 {
	opacity: 0.2;
	fill: #ffffff;
}

/* trees */
.st12 {
	fill: #c1d12a;
}
.st13 {
	fill: #d5dd3e;
}
.st14 {
	fill: #a6b515;
}
.st15 {
	fill: #6180af;
}
.st16 {
	fill: #37537c;
}
.st17 {
	fill: #f6d200;
}
.st18 {
	fill: #f2a000;
}
.st19 {
	opacity: 0.6;
	fill: #f08500;
}
.st20 {
	fill: #99a00a;
}
.st21 {
	fill: #f6b000;
}
.st22 {
	fill: #efa102;
}
.st23 {
	opacity: 0.6;
}
.st24 {
	opacity: 0.5;
	fill: #f28804;
}
.st25 {
	fill: #f28804;
}
.st26 {
	opacity: 0.6;
	fill: #eb6a05;
}
.st27 {
	opacity: 0.6;
	fill: #f6d200;
}
.st28 {
	fill: #e96e02;
}
.st29 {
	opacity: 0.1;
	fill: #faffb9;
}
.st30 {
	fill: #faffb9;
}
.st31 {
	display: none;
}
.st32 {
	display: inline;
}
.st33 {
	fill: #95becc;
}
.st34 {
	fill: #b5dce7;
}
.st35 {
	fill: #8bbece;
}
.st36 {
	fill: #bddfeb;
}
.st37 {
	fill: #6aa3bb;
}
.st38 {
	fill: #93c0d6;
}
.st39 {
	fill: #cbd2d9;
}
.st40 {
	fill: #74afc6;
}
.st41 {
	fill: #a6d7e2;
}
.st42 {
	fill: #aacad9;
}
.st43 {
	opacity: 0.5;
	fill: #bdbfc1;
}
.st44 {
	fill: #a2ccda;
}

/* personA */
.st45 {
	fill: #393762;
}
.st46 {
	fill: #ece0d3;
}
.st47 {
	fill: #e48868;
}
.st48 {
	fill: #de6879;
}
.st49 {
	fill: #efc33b;
}
.st50 {
	fill: #c55469;
}
.st55 {
	fill: #e8a12b;
}
.st56 {
	fill: #ba745d;
}
.st57 {
	fill: #49478a;
}
.st58 {
	fill: #49478a;
}
.st59 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #ffb8b8;
}
.st60 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #4b0000;
}
.st61 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #df7223;
}
.st62 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #752e2f;
}
.st63 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #e47522;
}
.st64 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: url(#SVGID_3_);
}
.st65 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #050000;
}
.st66 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #404041;
}
.st67 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #363638;
}
.st68 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #dfe0e2;
}
.st69 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #6a6c72;
}
.st70 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #898d94;
}
.st71 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #ff8b18;
}
.st72 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #35aade;
}
.st73 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #ffffff;
}
.st74 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #dfe2e4;
}
.st75 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #6e2728;
}
.st76 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #d5dadc;
}
.st77 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #ec1c24;
}
.st78 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #e6e7e8;
}
.st79 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #525458;
}
.st80 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #393762;
}
.st81 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #be1e2d;
}
.st82 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #ef4136;
}
.st83 {
	fill: #464473;
}
.st84 {
	fill: #cfb199;
}
.st85 {
	fill: #7fbbf7;
}
.st86 {
	fill: #b77053;
}
/* person e */
.pe-45 {
	fill: #393762;
}
.pe-46 {
	fill: #e48868;
}
.pe-47 {
	fill: #efc33b;
}
.pe-48 {
	fill: #ece0d3;
}
.pe-49 {
	fill: #e8a12b;
}
.pe-50 {
	fill: #dc5955;
}
.pe-51 {
	fill: #a34745;
}
/* car 2 */
.car2-59 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #ffb8b8;
}
.car2-60 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #4b0000;
}
.car2-61 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #df7223;
}
.car2-62 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #752e2f;
}
.car2-63 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #e47522;
}
.car2-64 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: url(#SVGID_3_);
}
.car2-65 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #050000;
}
.car2-66 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #393762;
}
.car2-67 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #dfe0e2;
}
.car2-68 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #ff8b18;
}
.car2-69 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #35aade;
}
.car2-70 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #ffffff;
}
.car2-71 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #dfe2e4;
}
.car2-72 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #6e2728;
}
.car2-73 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #d5dadc;
}
.car2-74 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #ec1c24;
}
.car2-75 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #e6e7e8;
}
.car2-76 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #be1e2d;
}
.car2-77 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #ef4136;
}
.car2-78 {
	fill: #464473;
}
.car2-79 {
	fill: #cfb199;
}
.car2-80 {
	fill: #7fbbf7;
}
.car2-81 {
	fill: #b77053;
}

/* car 3 */
.car-3-55 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #58574b;
}
.car-3-56 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #402639;
}
.car-3-57 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #e6e7e8;
}
.car-3-58 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #393762;
}
.car-3-59 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #efc33b;
}
.car-3-60 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #ef4136;
}
.car-3-61 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #4b4a43;
}
.car-3-62 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #ffffff;
}
/* car 4 */
.car-4-55 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #58595b;
}
.car-4-56 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #393762;
}
.car-4-57 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #e09620;
}
.car-4-58 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #e9b620;
}
.car-4-59 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #ffca05;
}
.car-4-60 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #ee9f21;
}
.car-4-61 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #f3bd18;
}
.car-4-62 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #e6e7e8;
}
.car-4-63 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #f48120;
}
.car-4-64 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #e6e6e6;
}
.car-4-65 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #d0d2d3;
}
.car-4-66 {
	fill-rule: evenodd;
	clip-rule: evenodd;
	fill: #58574b;
}
