.App {
	text-align: center;
}
.weather-sunny {
	background-color: #73b2ae;
	background: linear-gradient(#2176ae, #73b2ae);
	width: 350px;
	height: 600px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}

.birds {
	opacity: 0.8;
	fill: none;
	stroke: #ffffff;
	stroke-width: 5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
